.modal-window {
    width: 700px;
    height: 350px;
    background-color: rgb(240, 243, 243);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 1800px;
    background-color: rgb(10, 85, 125);
}
.buttons-window {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.button-red {
    width: 150px;
    height: 25px;
    border: none;
    border-radius: 0px;
    color: aliceblue;
    background-color: red;
}
button {
    margin: 25px;
}
h1 {
 margin: 25px;
}
